In [28]:
import numpy as np
import pandas as pd
import itertools
from src.HopfieldModel import *

abecedario = {
    0: 'A',
    1: 'B',
    2: 'C',
    3: 'D',
    4: 'E',
    5: 'F',
    6: 'G',
    7: 'H',
    8: 'I',
    9: 'J',
    10: 'K',
    11: 'L',
    12: 'M',
    13: 'N',
    14: 'O',
    15: 'P',
    16: 'Q',
    17: 'R',
    18: 'S',
    19: 'T',
    20: 'U',
    21: 'V',
    22: 'W',
    23: 'X',
    24: 'Y',
    25: 'Z',
}
letras = get_patterns("data/letters.txt")

# Generar todas las combinaciones de 4 vectores de 26
combinaciones = list(itertools.combinations(range(26), 4))

# Calcular la ortogonalidad para cada combinación
resultados = []
for comb in combinaciones:
    sub_vectores = np.array([letras[comb[0]],letras[comb[1]],letras[comb[2]],letras[comb[3]]])
    mean_dot_product, max_value, max_dot_product = ortogonality4(sub_vectores)
    combinacion = [abecedario[i] for i in comb]
    resultados.append((combinacion, mean_dot_product, max_value, max_dot_product))

resultados = pd.DataFrame(resultados, columns=['Combinación', 'Medio', 'Máx', 'Frec'])

In [31]:
resultados = resultados.sort_values(by='Máx', ascending=False)
resultados.head(5)

       Combinación   Medio  Máx  Frec
9595  [F, K, P, Q]   8.333   21   1.0
8602  [E, M, N, P]   8.667   21   1.0
8611  [E, M, N, Y]   6.000   21   1.0
8610  [E, M, N, X]   8.000   21   1.0
8609  [E, M, N, W]  10.333   21   2.0

In [32]:
resultados.tail(5)

        Combinación  Medio  Máx  Frec
13873  [L, R, T, V]  1.667    3   2.0
9812   [F, M, V, Z]  3.000    3   6.0
1629   [A, J, K, U]  2.000    3   3.0
4031   [B, M, V, Z]  2.333    3   4.0
13809  [L, P, T, V]  2.000    3   3.0